.cfu{
    background-color: #e6e6ff;
}
.prerequisite{
    background-color: #e6ccff;
}
.presence{
    background-color: #ccffb3;
}
.incompatibility{
    background-color: #ff9999;
}
.max{
    background-color: #b8b894;
}